@charset "UTF-8";

:root{
    --fontepadrao:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--fontepadrao);
    background: #ffffff url('../images/fundo.png') repeat-x;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Layout cabeçalho */
header {
    margin: 0 auto;
    padding-top: 25px;
    width: 750px;
    height: 150px;
    background: url('../images/detalhe-topo.png') no-repeat top right;
}

header .page-logo {
    width: 152px;
    height: 66px;
    background: url('../images/logo.png') no-repeat center;
    text-indent: -3000px;
}

/* Navbar */

div#navbar ul {
    margin-top: 30px;
    width: 90%;
    background-color: #b10333;
    border-radius: 4px;
    float: left;
}

div#navbar li.navbar-item {
    float: left;
}

li.navbar-item a {
    display: block;
    padding: 0.5em 1.5em;
    font-size: 0.9em;
    line-height: 2.1em;
    text-decoration: none;
    color: rgb(255, 255, 255);  
    background: url('../images/divisor.png') no-repeat right center;
}

li.navbar-item a:hover {
    color: #69001d;
}
 
#navbar a#selected {
    color: #ffffff;
    background: none;
    background-color: #de003e;
    cursor: default;
}

/* Conteúdo da Main */

main {
    background: rgb(179, 179, 179);
    margin: 60px auto 0 auto;
    width: 750px;
}

main #main-content {
    float: left;
    margin: 0 0 20px 195px;
    width: 270px;
    background-color: rgb(109, 109, 240);
}

main #secondary-content {
    float: left;
    margin: 0 0 20px 15px;
    width: 270px;
    background-color: rgb(143, 255, 143);
}

main #side-content {
    float: left;
    margin: 0 0 20px -750px;
    width: 180px;
    background-color: rgb(255, 255, 130);
}

/* Rodapé */
footer {
    clear: both;
    background: #294c71;
    padding: 20px;
}

#footer-content {
    width: 750px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}