@charset "UTF-8";

:root{
    --fontepadrao:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--fontepadrao);
    background: #ffffff url('../images/fundo.png') repeat-x;
}

/* Layout cabeçalho */
header {
    border: 1px solid red;
    margin: 0 auto;
    padding-top: 25px;
    width: 750px;
    height: 150px;
    background: url('../images/detalhe-topo.png') no-repeat top right;
    background-size: 150px;
}

header .page-logo {
    width: 152px;
    height: 66px;
    background: url('../images/logo.png') no-repeat center;
    text-indent: -3000px;
}

header div#navbar {
    width: 1050px;
}

div#navbar ul {
    display: flex;
    width: 90%;
    list-style: none;
    background-color: rgb(189, 1, 1);
    border-radius: 4px;
}

/* Elementos do cabeçalho */

div#logo-header img {
    margin: 10px 10px;
    width: 170px;
}

div#navbar li.navbar-item {
    margin: 0 15px;
    padding: 15px;
}

li.navbar-item a {
    font-weight: bolder;
    font-size: 1.1em;
    color: rgb(230, 230, 230);
    text-decoration: none;
    text-transform: uppercase;
}



